.homeContainer{
   
    #monthlyExpensesChart, #debitVSCreditChart, #categoryExpensesChart {
        background-color: white;
        border-radius: rem(16);  
        padding: rem(32);
        box-shadow: 0 0 rem(14) rgba(0, 0, 0, 0.05);
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: rem(32);
    }

    #monthlyExpensesChart {
        width: 70%;

        div{
            display: flex;
            flex-direction: column;
            gap: rem(16);
            justify-content: center;

            p{
                text-align: center;
            }
        }
    }
    
    #debitVSCreditChart{
        width: 50%;

        canvas{
            height: rem(235) !important;
        }
    }
    
    #categoryExpensesChart {
        width: 50%;

        canvas{
            width: rem(200) !important;
            height: rem(200) !important;
        }
    }
}

@media screen and (max-width: 1024px){
    .homeContainer{
        #monthlyExpensesChart, #debitVSCreditChart, #categoryExpensesChart {
            width: 100%;
        }
    }
}