.profile-container{
    margin-left: rem(90);
    padding: rem(32) rem(48);
    gap: rem(48);

    .profile_header{
        width: 30%;
        padding: 52px 48px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 70vh;
        background-color: white;
        border-radius: 16px;
        gap: 48px;
        box-shadow: 0 0 14px rgba(0, 0, 0, 0.05);

        .header_info{
            display: flex;
            position: relative;
            flex-direction: column;
            align-items: center;
            gap: 8px;

            img{
                border-radius: 50%;
                display: block;
                border: 1px solid $blue;
                width: 170px;
                height: 170px;
                margin-bottom: 16px;
            }
            button{
                position: absolute;
                top: 0;
                left: 10%;
                border: none;
                background: none;

                img{
                    width: rem(42);
                    height: rem(42);
                }
            }
            p{
                @include smallText;
                color: $dark_grey;
            }
        }
        .nav{
            display: flex;
            flex-direction: column;

            button{
                background: none;
                border: none;
                border-bottom: $light_grey 1px solid;
                padding: 16px 0;
                color: $dark_grey;
            }
        }

        .header_button{
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }

    .profile_content{
        width: 70%;

        .header_total{
            display: flex;
            flex-direction: column;
            gap: rem(16);
            padding-bottom: rem(32);
            position: relative;
            .total_content{
                display: flex;
                gap: rem(56);
                .profile_info{
                    display: flex;
                    align-items: center;
                    gap: rem(8);
                    h2{
                        font-size: rem(32);
                        color: $blue;
                    }
                    p{
                        color: $dark_grey;
                    }
                }
            }
            &::after{
                content: '';
                display: block;
                width: 100%;
                height: rem(1);
                background-color: $light_grey;
                position: absolute;
                bottom: 0;
            }
        }

        #profile_modification{
            background-color: white;
            padding: rem(52);
            border-radius: rem(16);
            margin-top: rem(80);
            width: fit-content;
            min-width: 50rem;
            box-shadow: 0 0 rem(14) rgba(0, 0, 0, 0.05);
        }

    }

    #content{
        flex-direction: row;

        section{
            background-color: white;
            border-radius: rem(16);
        }

        .profile_header{
            padding: rem(52) rem(48);
            display: flex;
            flex-direction: column;
            gap: 40px;

            .header_info{
                display: flex;
                align-items: center;
                flex-direction: column;
                border-bottom: rem(1) solid $light_grey;
                padding-bottom: rem(32);
                gap: rem(8);

                p{
                    font-size: rem(14);
                    color: $dark_grey;
                }
            }

            .header_total{
                display: flex;
                flex-direction: column;
                gap: rem(16);

                >p{
                    font-size: 18px;
                    font-weight: 600;
                    padding-bottom: 8px;
                }

                .profile_info{
                    display: flex;
                    gap: 16px;
                    align-items: center;
                    h2{
                        color: $blue;
                    }
                    p{
                        color: $dark_grey;
                    }
                }
            }

            .header_button{
                display: flex;
                flex-direction: column;
                gap: rem(16);
                padding-top: rem(32);
                border-top: rem(1) solid #F1F1FA;

                a{
                    display: flex;
                    gap: rem(16);
                    align-items: center;

                    &#button--logout{
                        color: $dark_grey;
                    }

                    &#button--deleteAccount{
                        color: $red;
                    }
                }
            }
        }

        .profile_settings{
            padding: rem(40) rem(52);
            display: flex;
            flex-direction: column;
            gap: rem(40);

            nav{
                display: flex;
                gap: rem(56);
                position: relative;

                &:after{
                    content: '';
                    display: block;
                    width: 100%;
                    height: rem(1);
                    background-color: $light_grey;
                    position: absolute;
                    bottom: 0;
                }

                a{
                    font-size: rem(14);
                    color: $dark_grey;
                    padding-bottom: rem(8);
                    position: relative;

                    &.active::after{
                        content: '';
                        display: block;
                        width: 100%;
                        height: rem(1);
                        background-color: $blue;
                        position: absolute;
                        bottom: 0;
                        z-index: 1;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 1024px) {
    .profile-container{
        flex-direction: column;
        margin-left: 0;
        margin-bottom: rem(90);
        padding: rem(24) rem(32);

        .profile_header{
            width: 100%;
            background-color: transparent;
            box-shadow: none;
            height: 100%;
        }
        .profile_content{
            width: 100%;

            .header_total{
                h1{
                    text-align: center;
                }
                .total_content{
                    gap: rem(16);
                    flex-direction: column;
                    justify-content: center;

                    .profile_info{
                        justify-content: center;
                    }
                }
            }
        }
    }
}

.form{
    .row{
        flex-direction: column;

        .column{
            width: 100%;

            .geoloc_container{
                flex-direction: column !important;
            }
        }
    }


    input, textarea, select, button{
        width: 100% !important;
    }
}

#account-settings-form {
    div {
        div {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}