@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

h1{
    font-size: rem(32);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

h2{
    font-size: rem(24);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

h3{
    font-size: rem(20);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: rem(25);
}

p, a, span, input, textarea, select, label{
    font-size: rem(16);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: rem(23.8);
}

@mixin smallText{
    font-size: rem(14);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

@mixin bigText{
    font-size: rem(18);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: rem(25);
}

@media screen and (max-width: 768px){
    h1{
        font-size: rem(27) !important;
    }
    h2{
        font-size: rem(20);
    }
    h3{
        font-size: rem(18);
    }
}