#dashboard-pic {
    border-radius: 100rem;
    width: 6rem;
}

.dashboard_intro {
    text-align: left;
}

.dashboard_header_wrapper {
    display: grid;
    grid-template-columns: 2fr 5fr;
    align-items: center;
    gap: 1rem;
}

#dashboard_cards {
    width: 100%;
    margin: 2rem auto;
    max-width: 90vh;
    @media (max-width: 1024px) {
        max-width: 75vh;
        margin: 0 auto;
    }
}

.dashboard-card {
    transition: transform 0.2s ease-in-out;
}

.dashboard-card:hover {
    transform: translateY(-5px);
}